In [1]:
import pandas as pd
# pd.set_option("display.max_columns", None)
# pd.set_option("display.max_rows", 200)

In [2]:
df = pd.read_json("property_details_wc.json")
df.head()

,url,price,name,about_title,title,description,Bedrooms,Bathrooms,Parking Spaces,Floor Size,...,Special Features 17,Special Features 18,Special Features 19,Special Features 20,Pool 3,Outside Areas,Dining Room 4,Dining Room 5,Security 5,Outbuilding 8
0,https://www.property24.com/new-developments-fo...,None,None,NaN,None,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.property24.com/new-developments/de...,None,None,NaN,None,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.property24.com/new-developments-fo...,None,None,NaN,None,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.property24.com/for-sale/val-de-vie...,R 6 600 000,2 Bedroom Apartment / Flat for Sale in Val De ...,NaN,Exquisite Ambrosia ground floor apartment in n...,Val de Vie Properties exclusively presents thi...,2.0,2.0,1.0,104 m²,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.property24.com/new-developments-fo...,None,None,NaN,None,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df[df["price"].notnull()].isnull().sum()

url                  0
price                0
name                 0
about_title      25044
title                0
                 ...
Outside Areas    25043
Dining Room 4    25043
Dining Room 5    25043
Security 5       25043
Outbuilding 8    25043
Length: 349, dtype: int64

In [4]:
df.dtypes

url               object
price             object
name              object
about_title      float64
title             object
                  ...
Outside Areas    float64
Dining Room 4     object
Dining Room 5     object
Security 5        object
Outbuilding 8     object
Length: 349, dtype: object

In [7]:
df["Floor Size"]

0           NaN
1           NaN
2           NaN
3        104 m²
4           NaN
          ...
25571    214 m²
25572    137 m²
25573       NaN
25574    170 m²
25575     65 m²
Name: Floor Size, Length: 25576, dtype: object